.conteiner {
    position: relative;
    background-color: #0F1A20;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
}

@media (max-width: 1024px) {
    .conteiner{
        width: 100%;
        height: 92vh;
    }
}

.ConteudoTerminal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    width: 100%;
    height: 100%;
    color: #ADA296;
    padding: 10px;
    overflow: auto;
}

.BarraTerminal {
    display: flex;
    width: 100%;
    height: 40px;
    gap: 10px;
    padding: 5px 10px;
}

#campo{
    width: 100%;
    background-color: transparent;
    border: 1px solid #ADA296;
    border-radius: 3px;
    color: #ADA296;
    padding: 0px 5px;
}

#campo:focus{
    border: 1px solid #ADA296;
}
#campo:active{
    border: 1px solid #ADA296;
}

#botao{
    width: 100px;
    height: 100%;
    background-color: #ADA296;
    border: none;
    color: #0F1A20;
    transition: 0.1s;
    border-radius: 3px;
    font-weight: bold;
}

#botao:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.mensagem{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;

    font-size: 20px;

    width: 100%;
}

.mensagem p{
    width: 100%;
}

.itensLista{
    padding-left: 15px;
}

.lista{
    gap: 8px;
}


.texto{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .15em; /* Adjust as needed */
    animation: typing 0.5s linear forwards;
}
.option{
    padding: 3px 0px;
}
.option:hover{
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    border-radius: 3px;
}
  
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

#BarraNav{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ADA296;
}

.botaoNavBar{
    border: none;
    background-color: transparent;
    color: #ADA296;
    padding: 3px;
}

.botaoNavBar:hover{
    cursor: pointer;
    transform: scale(1.1);
}