.conteiner {
    background-color: #0F1A20;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
}

@media (max-width: 1024px) {
    .conteiner{
        width: 100%;
        height: 95vh;
    }
}

.ConteudoTerminal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    width: 100%;
    height: 90%;
    color: #ADA296;
    padding: 10px;
    overflow: auto;
}

.BarraTerminal {
    display: flex;
    width: 100%;
    height: 40px;
    gap: 10px;
    padding: 5px 10px;
}

#campo{
    width: 100%;
    background-color: transparent;
    border: 1px solid #ADA296;
    border-radius: 3px;
    color: #ADA296;
    padding: 0px 5px;
}

#campo:focus{
    border: 1px solid #ADA296;
}
#campo:active{
    border: 1px solid #ADA296;
}

#botao{
    width: 100px;
    height: 100%;
    background-color: #ADA296;
    border: none;
    color: #0F1A20;
    transition: 0.1s;
    border-radius: 3px;
    font-weight: bold;
}

#botao:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.mensagem{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;

    font-size: 20px;

    width: 100%;
}

.mensagem p{
    width: 100%;
}

.itensLista{
    padding-left: 15px;
}

.lista{
    gap: 8px;
}

.DetalheItem{
    border: 1px solid #ADA296;
    border-radius: 5px;
    padding: 0px 10px;
    background-color: transparent;
    color: #ADA296;
}
.DetalheItem:hover{
    transform: scale(1.1);
}

.texto{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    /* white-space: nowrap; Keeps the content on a single line */
    letter-spacing: .15em; /* Adjust as needed */
    /* animation: typing 0.5s linear forwards; */
}
.Opcao{
    padding: 3px 0px;
}
.Opcao:hover{
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    border-radius: 3px;
}
  
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

#BarraNav{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ADA296;
}

.botaoNavBar{
    border: none;
    background-color: transparent;
    color: #ADA296;
    padding: 3px;
}

.botaoNavBar:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.Opcoes{
    width: 100%;
    background-color: #0F1A20;
    height: auto;
}



/* MOCHILA */

#Mochila{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

#Mochila-Info{
   width: 100%;
   height: 5%;

   border-width: 1px;
   border-bottom-width: 0px;;
   border-color: #ADA296;
   border-style: solid;
}
.Mochila-Divisoria{
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 50%;
}

#Mochila-Itens{
    border: 1px solid #ADA296;
    height: 60%;
    width: 100%;
    overflow: auto;
    
    padding: 5px;
}
#Mochila-Equipados{
    border: 1px solid #ADA296;
    height: 40%;
    width: 100%;
    
    padding: 5px;
}
#Mochila-Detalhes{
    border: 1px solid #ADA296;
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 100%;
    
    padding: 5px;
}
#Mochila-Acoes{
    border: 1px solid #ADA296;
    display: flex;
    height: 40%;
    width: 100%;
    
    padding: 5px;
}

#Mochila .itensLista {
    width: 100%;
}

.Mobile{
    opacity: 0;
}

.Item{
    padding: 3px 0px;
    display: flex;
    justify-content: space-between;
}
.Item:hover{
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    border-radius: 3px;
}

@media (max-width: 480px) {
    .Mobile{
        opacity: 1 !important;
    }
    .Opcoes{
        display: flex;
        position: fixed;
        bottom: 0px;
        left: 0px;
        border-top: 1px solid #ADA296;
        padding: 10px;
    }
    .Mochila-Divisoria{
        min-width: 100%;
    }
    .DivisoriaDois{
        height: fit-content;
        border-bottom: 0px !important;
    }
    #Mochila-Itens{
        max-height: 40%;
    }
    #Mochila-Equipados{
        max-height: 28%;
    }
    #Mochila-Acoes{
        position: fixed;
        bottom: 0;
        left: 0;
        max-height: 27%;

        border-top: 1px solid #ADA296 !important;
        border-bottom: 0px !important;
        border-left: 0px !important;
        border-right: 0px !important;
    }
    #Mochila-Detalhes{
        position: fixed;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 99;
        box-shadow: 0px 0px 70px 70px #000000a3;
        background-color: #0F1A20;
        width: 90%;
        display: none;
        box-sizing: border-box;
    }
}